.button-group-item,
.disabledTab {
    width: 3.5rem;
    height: 4rem;
    float: center;
    margin-right: 1rem;
    color: black;
}

.tab {
    color: black;
}



.tab:hover,
.tab:active {
    background-color: black;
    color: white;
}

.SizeTabWithoutLabel {
    width: 100%;
    justify-items: stretch;
    align-items: stretch;
}

.disabledTab ,
.disabledTab:hover,
.disabledTab:active {
    color: black;
    background-color: white;
}