.Footer {
    background-color: white;
    height: auto;
    width: 100%;
  
    .sns-icon-group {
      text-align: center;
      align-items: center;
  
      .sns-icon {
        margin-right: 1.25rem;
      }
    }
  }
  