.StepperIcons {
    display: flex;
    text-align: center;
}

.check-out-container {
    display: flex;
}

.blank {
    width: 8%;
}

.check-out-form {
    width: 50%;
    margin-left: 25%;
}

.cart-at-check-out {
    width: 33%;
}

.CheckoutForm {
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
}

.form {
    align-self: center;
    width: 100%;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

.row {
    margin-top: 1rem;
    width: 100%;
}

.col {
    display: grid;
    width: 100%;
}

.col-right {
    margin-left: 1rem;
    width: 50%;
}

.col-left {
    width: 50%;
}

label {
    font-size: 1rem;
}

input,
select {
    height: 3rem;
    outline-color: dark-grey;
    outline: none;
}

.submit-btn {
    color: white;
    font-size: 1rem;
    background-color: black;
    width: 100%;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
    font-size: 2rem;
    align-self: center;
}

.select-half {
    margin-top: 4.5%;
}

.submit-btn {
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.select {
    height: 2.75rem;
    margin-bottom: 4.5%;
}