

.main-image {
    width: 100%;
}

.description {
    text-align: center;
    background-color: white;
}

.product-name {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.non-sales-price {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #444444;
}

.sales-price {
    text-align: center;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.color-btn {
    margin-right: 30%;
    color: transparent;
    width: 0.625rem;
    height: 2rem;
}

.form {
    width: 60%;
}

.reveiw-tab {
    display: flex;
}

.review-list {
    display: grid;
    margin-top: 1rem;
}

.review-container{
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.create-review-link {
    font-weight:bold;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5%;
}

.colors {
    text-transform: uppercase;
}

.select-size {
    text-align: left;
    font-size: 0.8rem;
    color: #444444;
}

.blank {
    width: 10%;
}


.right-container {
    grid-column: 6/7;
    grid-row: 1;
    width:90%;
    padding-left: 10%;
    margin-right: 20%;
}

.col {
    display: grid;
}

.product-detail-page {
    background-color: white;
}

.size-tab{
    width:100%;
}

@media (max-width: 400px) {
    .main {
        grid-template-columns: 1fr;
        width:100%;
    }

    .sub-img-container {
        width: 15rem;
        grid-row: 2;
        display:flex;
    }

    .sub-image-1 {
        width: 70%;
        margin-left: 15%;
        grid-column: 1/2;
        grid-row: 2;
    }
    
    .sub-image-2 {
        width: 70%;
        margin-left: 15%;
        grid-column: 3/4;
        grid-row: 2;
    }

    .main-img-container {
        grid-row: 1;
        margin-top:1rem;
    }

}

@media (min-width: 401px) {
    .main {
        width: 100%;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr, 1fr;
        grid-gap: 1rem;
        grid-auto-columns: minmax(100px, auto);
        justify-items: stretch;
        align-items: stretch;
    }


    .sub-img-container {
        grid-row: 1;
        grid-column: 1/2;
        width: 18.75rem;
    }

    .main-img-container {
        width: 37.5rem;
        grid-column: 3/5;
        grid-row: 1;
    }

    .sub-image-1 {
        width: 70%;
        margin-left: 15%;
    }
    
    .sub-image-2 {
        width: 70%;
        margin-top: 2.5rem;
        margin-left: 15%;
    }
}