.mobile_toolbar{
    width:100%;
}

.mobile_toolbar_navigation_items {
    display: flex;

}

.mobile_toolbar_navigation {
    display: flex;
}

.mobile_toolbar_right {
    display: flex;
}

.left-button {
    width: 50%;
    left: 0;

}

.right-button {
    width: 50%;
    right: 0;

}


@media screen and (min-width: 1243px) {
    .mobile_toolbar {
        display: none;
    }
}

