.toolbar{
    width:100%;
    position:fixed;
    background-color: white;
    height:56px;
    top:0;
    left:0;
}

.toolbar_navigation{
    display:flex;
    align-items: center;
    height:100%;
    padding:0 1rem;
}

.toolbar_navigation_items ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    flex:center;
}

.toolbar_logo{
    padding-left: 5%;
    padding-right:7%;
}

.toolbar_navigation_items{
    text-decoration: none;
}

.toolbar_navigation_items li{
    padding: 0 1.5rem;
    font-size: 0.75rem;
    font-family:'Montserrat', sans-serif;
    color:black;
    cursor: pointer;
}

.toolbar_navigation_items li:hover,
.toolbar_navigation_items li:active{
    color: #4183c4;
}

.toolbar_right{
    display:flex;
}

.spacer{
    flex:0.5;
}

@media screen and (max-width: 400px) {
    display:none;
       }


@media screen and (max-width: 401px) {
    .toolbar{
        display:none;
    }
       }