@media screen and (max-width: 400px) {

    .footer-item-1,
    .footer-item-2,
    .footer-item-3 {
        padding-left: 5%;
        width: 50px;
        padding-right: 5%;

    }
}

@media screen and (min-width: 401px) {

    .col-1 {
        padding-left: 5%;

    }

    .col-2 {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.row{
    display:flex;
}

.center-align{
    margin-left:40%;
}

.Footer{
    background-color:white;
    height:100%;
}