@import "~bootstrap/scss/bootstrap";

@mixin btn {
  vertical-align: middle;
  padding-bottom: 1rem;
  color: white;
  font-size: 1.2rem;
  background-color: black;
  width: 260px;
  margin-left: 10px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  text-align: center;
}

@mixin center {
  width: 90%;
  align-self: center;
}

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;

  .nav-bar {
    color: black;
    width: 100%;
    font-size: 1.2rem;

    .ml-auto {
      cursor: pointer;
    }
  }

  .logo {
    text-align: center;
  }

  .cart-page {
    align-items: top;
    height: 100%;
    overflow: scroll;

    .items-in-cart {
      padding: 0;
      max-height: 70%;
      overflow: scroll;
    }

    .close-btn,
    .check-out-btn {
      background-color: black;
      color: white;
    }
  }
}
.cart-icon {
  display: flex;
  cursor: pointer;
  margin-right: 0;
}

.align-center {
  text-align: center;
  align-self: center;
}

.product-name {
  text-align: center;
  text-transform: uppercase;
}

.close-btn {
  align-self: center;
  width: 100%;
  color: white;
  background-color: black;
  font-size: 1rem;
  font-family: "Montserrat, sans-serif";
}

.Homepage {
  .hp-new-release {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  .view-all-btn {
    position: absolute;
    top: 28.5rem;
    left: 12%;
    color: white;
    font-size: 1rem;
    background-color: black;
    width: 7.5rem;
    border-radius: 1.563rem;
    font-family: "Montserrat", sans-serif;
  }

  .centered-title {
    position: absolute;
    top: 50%;
    left: 7.5rem;
    color: white;
    font-size: 40px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .centered-text {
    position: absolute;
    top: 26rem;
    left: 11.25rem;
    color: white;
    font-size: 1.25rem;
  }

  .womens {
    margin-left: 3.75rem;
    margin-top: 7.5rem;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .sub-image {
    width: 100%;
    display: block;
    height: auto;
  }

  .mobile-sub-image {
    display: none;
  }

  .product-list {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 0.5rem;
  }

  .new-release {
    margin-left: 3.75rem;
    font-size: 1.75rem;
    font-family: "Montserrat", sans-serif;
  }

  .view-all-link {
    cursor: pointer;
    padding-right: 2rem;
    text-align: right;
    color: black;
    text-decoration: underline;
    font-size: 1.25rem;
    align-self: flex-end;
  }

  @media screen and (max-width: 415px) {
    .view-all-btn {
      top: 23.5rem;
      left: 10%;
      color: white;
      width: 7.5rem;
    }

    .centered-title {
      top: 11.5rem;
      left: 2rem;
    }

    .centered-text {
      top: 19.5rem;
      left: 3rem;
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, JPGmax(4.5rem, 1fr));
      grid-gap: 0.5rem;
    }

    .sub-image {
      display: none;
    }
    .mobile-sub-image {
      width: 100%;
      height: auto;
      display: block;
    }

    .womens {
      margin-left: 1.25rem;
      margin-top: 2.5rem;
    }
    .new-release {
      margin-left: 1.3rem;
    }
    .view-all-link {
      margin-right: 0;
    }
  }
}
/** Home page ends here**/

.OrderConfirmation {
  background-color: white;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;

  .container {
    align-self: center;
    width: 100%;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
  }

  .col-right {
    margin-left: 1rem;
    width: 50%;
  }

  .col-left {
    width: 50%;
  }

  #label {
    font-size: 1rem;
  }

  .item {
    height: 3rem;
    align-self: flex-start;
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    align-self: center;
  }
}

.product-detail-page {
  background-color: white;
  .main-image {
    width: 100%;
    height: auto;
  }

  .review {
    margin-bottom: 2rem;
  }

  .description {
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
  }

  .product-name {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .non-sales-price {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #444444;
  }

  .sales-price {
    text-align: center;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }

  .color-btn {
    margin-right: 30%;
    color: transparent;
    width: 100%;
    height: 2rem;
  }

  .reveiw-tab {
    display: flex;
  }

  .review-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, JPGmax(230px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
  }

  .review-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .create-review-link {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5%;
  }

  .colors {
    text-transform: uppercase;
  }

  .select-size {
    text-align: center;
    font-size: 0.8rem;
    color: #444444;
  }

  .blank {
    width: 5%;
  }

  .size-tab {
    width: 100%;
    align-items: center;
  }

  @media (max-width: 415px) {
    .main {
      grid-template-columns: 1fr;
      width: 100%;
    }

    .sub-image-1 {
      display: block;
      width: 70%;
      margin-left: 15%;
      grid-column: 1/2;
      grid-row: 2;
    }

    .sub-image-2 {
      display: block;
      width: 70%;
      margin-left: 15%;
      grid-column: 3/4;
      grid-row: 2;
    }

    .main-img-container {
      grid-row: 1;
      margin-top: 1rem;
    }
  }

  @media (min-width: 416px) {
    .main {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr, 1fr;
      grid-gap: 1rem;
      grid-auto-columns: minmax(100px, auto);
      justify-items: stretch;
      align-items: stretch;
    }

    .sub-image-1 {
      display: block;
      width: 12rem;
      height: auto;
      margin-left: 15%;
    }

    .sub-image-2 {
      display: block;
      width: 12rem;
      height: auto;
      margin-top: 2.5rem;
      margin-left: 15%;
    }
  }
}

.AllProducts {
  background-color: white;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  display: grid;

  .sorting {
    width: 10rem;
    margin-left: 0;
    padding-left: 0;

    @media (min-width: 416px) {
      margin-left: 12%;
    }
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
  }
}

.col {
  display: grid;
  width: 100%;
}

.row {
  margin-top: 1rem;
  width: 100%;
}

.ProductContainer {
  width: 100%;
  border-radius: 1%;
  z-index: 1;
  box-shadow: 0.5rem;
  max-height: 27.5rem;
  max-width: 20rem;

  .item-name {
    color: #444444;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 2.1rem;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
  }

  .price-label {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
  }

  .sales {
    color: red;
  }

  .price {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
  }

  .new-price {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0;
  }

  .item-color {
    color: lightslategray;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    text-align: left;
  }

  .card-image {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 350px;
    align-self: center;
  }

  .sales-price {
    color: red;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
  }

  @media (max-width: 415px) {
    padding: 0;

    .item-price {
      font-size: 1.2rem;
    }

    .price {
      font-size: 1rem;
    }

    .item-name {
      font-size: 0.8rem;
    }

    .item-color {
      font-size: 0.8rem;
    }
  }
}

.FilterTab {
  width: 100%;
  margin-top: 0.8rem;

  .filter-label {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .orange-btn {
    background-color: #9a091a;
  }

  .pink-btn {
    background-color: #ff99cc;
  }

  .lt-grey-btn {
    background-color: #c0c0c0;
  }

  .black-btn {
    background-color: black;
  }

  .blue-btn {
    background-color: #3399ff;
  }

  .tab-btn {
    margin-right: 0.6rem;
    color: transparent;
    width: 3.2rem;
    height: 3.5rem;
  }
}

.SizeTabWithoutLabel {
  width: 100%;
  display: flex;
  justify-content: center;

  .button-group-item {
    top: 50%;
    color: white;
    font-size: 1rem;
    width: 4rem;
  }

  .button-group-item,
  .disabledTab {
    width: 3.5rem;
    height: 3.5rem;
    float: center;
    color: black;
    margin-right: 0.6rem;
  }

  .button-group-item-clicked,
  .button-group-item:hover,
  .button-group-item:active {
    background-color: black;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.6rem;
  }

  .disabledTab,
  .disabledTab:hover,
  .disabledTab:active {
    width: 3rem;
    height: 3.5rem;
    color: black;
    background-color: white;
  }
}

/** Review Form **/

.modal {
  background-color: white;
  padding-top: 80px;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;

  .err-msg {
    color: blue;
  }

  .input {
    width: 100%;
  }

  p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  .star {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 0;
  }

  .bar-rating {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 0;
  }
}

img {
  cursor: pointer;
}

.Footer {
  background-color: white;
  height: auto;
  width: 100%;

  .sns-icon-group {
    text-align: center;
    align-items: center;

    .sns-icon {
      margin-right: 1.25rem;
    }
  }
}

.Promo {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 1rem;

  @media screen and (max-width: 415px) {
    font-size: 0.625rem;
  }

  @media screen and (min-width: 416px) {
    font-size: 1rem;
  }
}

@media screen and (min-width: 416px) {
  form {
    font-size: 1.2rem;
  }

  .mobile-menu,
  #mobile-menu-logo {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  .App {
    .nav-bar {
      font-size: 1.2rem;

      form {
        font-size: 1.2rem;
      }

      .nav-bar-links,
      .desktop {
        display: none;
      }
    }
  }

  #mobile-menu {
    display: block;
    align-self: left;
    z-index: 1;
  }

  .line {
    display: flex;
  }
}

#cart-btn {
  @include btn;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}

#switchCurrencyBtn {
  @include btn;
  font-size: 1rem;
  margin-right: 1rem;
  height: 2.5rem;
  width: 11rem;
}

#checkout-btn {
  @include btn;
  margin-top: 1rem;
  align-self: center;
  width: 100%;
  height: 3rem;
  background-color: #007db5;
  line-height: 0;
  margin-bottom: 0.5rem;
}

#paypal-btn {
  @include btn;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.product-in-cart {
  padding-block-start: 3px;
}

#add-to-cart-btn {
  width: 100%;
  padding-top: 10;
  height: 4rem;
  margin-top: 10;
  border-radius: 25px;
  color: white;
  background-color: #007db5;
}

.cart-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

.close-cart-icon {
  cursor: pointer;
}

#cart {
  padding: 0.5rem;
}

.MuiDialog-root {
  width: 40rem;
  height: 20rem;
}

.currency-select {
  @include center;
  margin-bottom: 1rem;
}

#currency-dialog-title {
  align-self: center;
}

.email-field {
  width: 100%;
}

#clear-filter-btn {
  margin-top: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
}

.checkout-page {
  width: 100%;

  form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    .field {
      width: 100%;
      height: 2.5rem;
      margin-bottom: 0, 5rem;
    }

    .submit-btn {
      @include btn;
      width: 100%;
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  .PaymentMethod {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;

    .submit-btn {
      @include btn;
      width: 100%;
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  .check-out-shipping-payment {
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    .change-button {
      @include btn;
      width: 100%;
      margin-left: 0;
    }
  }
}

.submit-btn {
  @include btn;
  width: 100%;
  margin-top: 1rem;
  margin-left: 0;
}

#payment-cancel-btn,
.cancel-btn {
  @include btn;
  background-color: silver;
  color: black;
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 0;
}

.cart-product-image {
  width: 5rem;
  height: 5rem;
}

