/** Cart  **/
.product-outer-container {
  display: flex;
}

.product-name {
  text-align: center;
  text-transform: uppercase;
}

.close-btn {
  align-self: center;
  width: 100%;
  color: white;
  background-color: black;
  font-size: 1rem;
  font-family: "Montserrat, sans-serif";
}

/** Cart **/

.Homepage {
  .hp-new-release {
    margin-top: 5rem;
    width: 100%;

    .hp-list {
      margin-left: 4%;
      margin-right: 4%;
      width: 92%;
    }
  }

  @media screen and (min-width: 401px) {
    .product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      grid-gap: 0.5rem;
    }

    .centered-title {
      position: absolute;
      top: 40%;
      left: 7.5rem;
      color: white;
      font-size: 40px;
      margin-left: 4%;
      margin-right: 4%;
    }

    .centered-text {
      position: absolute;
      top: 50%;
      left: 10rem;
      color: white;
      font-size: 20px;
      margin-left: 20px;
    }

    .sub-image {
      width: 100%;
      display: block;
    }

    .mobile-sub-image {
      display: none;
    }
    .womens {
      margin-left: 60px;
      margin-top: 40px;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
    }
    .new-release {
      margin-left: 60px;
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
    }
    .view-all-link {
      cursor: pointer;
      padding-right: 10%;
      text-align: right;
      color: black;
      text-decoration: underline;
      font-size: 20px;
      align-self: flex-end;
    }
  }

  @media screen and (max-width: 400px) {
    .product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
      grid-gap: 0.5rem;
    }

    .sub-image {
      display: none;
    }
    .mobile-sub-image {
      width: 100%;
      display: block;
    }
    .centered-title {
      position: absolute;
      top: 42%;
      left: 10%;
      color: white;
      font-size: 20px;
    }
    .centered-text {
      position: absolute;
      top: 50%;
      left: 10%;
      color: white;
      font-size: 12px;
    }
    .view-all-btn {
      position: absolute;
      top: 70%;
      left: 5%;
      color: white;
      font-size: 16px;
      background-color: black;
      width: 120px;
      border-radius: 25px;
      font-family: "Montserrat", sans-serif;
    }
    .womens {
      margin-left: 20px;
      margin-top: 40px;
      font-size: 10px;
      font-family: "Montserrat", sans-serif;
    }
    .new-release {
      margin-left: 20px;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
    }
    .view-all-link {
      text-align: right;
      color: black;
      text-decoration: underline;
      font-size: 10px;
      margin-right: 100px;
      align-self: buttom;
      font-family: "Montserrat", sans-serif;
    }
  }
}
/** Home page ends here**/

.OrderConfirmation {
  background-color: white;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;

  .container {
    align-self: center;
    width: 100%;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
  }

  .col-right {
    margin-left: 1rem;
    width: 50%;
  }

  .col-left {
    width: 50%;
  }

  label {
    font-size: 1rem;
  }

  .item {
    height: 3rem;
    align-self: flex-start;
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    align-self: center;
  }

  .blank {
  }
}

.product-detail-page {
  .main-image {
    width: 100%;
  }

  .description {
    text-align: center;
    background-color: white;
  }

  .product-name {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .non-sales-price {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #444444;
  }

  .sales-price {
    text-align: center;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }

  .color-btn {
    margin-right: 30%;
    color: transparent;
    width: 0.625rem;
    height: 2rem;
  }

  .form {
    width: 60%;
  }

  .reveiw-tab {
    display: flex;
  }

  .review-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
  }

  .review-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .create-review-link {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5%;
  }

  .colors {
    text-transform: uppercase;
  }

  .select-size {
    text-align: left;
    font-size: 0.8rem;
    color: #444444;
  }

  .blank {
    width: 10%;
  }

  .right-container {
    grid-column: 6/7;
    grid-row: 1;
    width: 90%;
    padding-left: 10%;
    margin-right: 20%;
  }

  .product-detail-page {
    background-color: white;
  }

  .size-tab {
    width: 100%;
  }

  @media (max-width: 400px) {
    .main {
      grid-template-columns: 1fr;
      width: 100%;
    }

    .sub-img-container {
      width: 15rem;
      grid-row: 2;
      display: flex;
    }

    .sub-image-1 {
      width: 70%;
      margin-left: 15%;
      grid-column: 1/2;
      grid-row: 2;
    }

    .sub-image-2 {
      width: 70%;
      margin-left: 15%;
      grid-column: 3/4;
      grid-row: 2;
    }

    .main-img-container {
      grid-row: 1;
      margin-top: 1rem;
    }
  }

  @media (min-width: 401px) {
    .main {
      width: 100%;
      display: grid;
      width: 100%;
      grid-template-columns: 1fr, 1fr;
      grid-gap: 1rem;
      grid-auto-columns: minmax(100px, auto);
      justify-items: stretch;
      align-items: stretch;
    }

    .sub-img-container {
      grid-row: 1;
      grid-column: 1/2;
      width: 18.75rem;
    }

    .main-img-container {
      width: 37.5rem;
      grid-column: 3/5;
      grid-row: 1;
    }

    .sub-image-1 {
      width: 70%;
      margin-left: 15%;
    }

    .sub-image-2 {
      width: 70%;
      margin-top: 2.5rem;
      margin-left: 15%;
    }
  }
}

.AllProducts {
  background-color: white;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  display: grid;

  .main {
    width: 100%;
    display: grid;
  }

  @media (max-width: 400x) {
    .sort-select {
      grid-column-start: 5;
      grid-row: 1;
      width: auto;
    }

    .list-container {
      width: 100%;

      .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        grid-gap: 0.5rem;
      }
    }

    .filters {
      display: none;
    }
  }

  @media (min-width: 401px) {
    .list-container {
      grid-column-start: 5;
      grid-row: 2;

      .product-list {
        display: grid;
        padding-top: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 0.5rem;
      }
    }

    .filters {
      grid-column: 1;
      grid-row: 2;
      width: 20%;
    }

    .sort-desktop {
      display: block;
    }
  }
}

.col {
  display: grid;
  width: 100%;
}

.row {
  margin-top: 1rem;
  width: 100%;
}

.ProductContainer {
  width: 100%;
  border-radius: 1%;
  z-index: 100;
  box-shadow: 0.5rem;

  .item-name {
    font-size: 1rem;
    color: #444444;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 2.1rem;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  .sales-price-label {
    color: red;
    font-size: 1rem;
    font-weight: 600;
  }

  .new-price-label {
    font-size: 1rem;
    font-weight: 600;
    align-self: flex-start;
  }

  .sales-price {
    font-size: 1.2rem;
    font-weight: 600;
    align-self: flex-end;
  }

  .new-price {
    font-weight: 600;
    font-size: 1.2rem;
    align-self: flex-end;
  }

  .item-color {
    color: lightslategray;
    font-size: 1rem;
    font-weight: 200;
  }

  .card-image {
    cursor: pointer;
    width: 100%;
    height: auto;
  }

  .sales-price {
    color: red;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
  }

  @media (max-width: 400px) {
    padding: 0;

    .item-color {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      color: #4444;
    }

    .item-price {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.FilterTab {
  width: 100%;
  margin-top: 0.8rem;

  .filter-label {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .orange-btn {
    background-color: #ff9900;
  }

  .pink-btn {
    background-color: #ff99cc;
  }

  .lt-grey-btn {
    background-color: #c0c0c0;
  }

  .dk-grey-btn {
    background-color: #808080;
  }

  .blue-btn {
    background-color: #3399ff;
  }

  .tab-btn {
    margin-right: 0.6rem;
    color: transparent;
    width: 3rem;
    height: 3.5rem;
  }

  .button-group-item,
  .disabledTab {
    width: 3rem;
    height: 3.5rem;
    float: center;
    color: black;
    margin-right: 0.6rem;
  }

  .SizeTabWithoutLabel {
    width: 100%;
    justify-items: stretch;
    align-items: stretch;
  }

  .disabledTab,
  .disabledTab:hover,
  .disabledTab:active {
    color: black;
    background-color: white;
  }
}

/** Review Form **/

.modal {
  background-color: white;
  padding-top: 80px;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;

  .form {
    display: grid;
    background-color: white;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    width: autp;
    overflow: scroll;
    height: 100%;

    .err-msg {
      color: blue;
    }

    .input {
      width: 100%;
    }

    p {
      text-align: center;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 0.75rem;
    }

    .star {
      width: 20%;
      margin-left: 40%;
      margin-right: 40%;
      padding-top: 0;
    }

    .bar-rating {
      width: 20%;
      margin-left: 40%;
      margin-right: 40%;
      padding-top: 0;
    }
  }
}

.toolbar {
  width: 100%;
  position: fixed;
  background-color: white;
  height: 56px;
  top: 0;
  left: 0;

  .toolbar_navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }

  .toolbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: center;
  }

  .toolbar_logo {
    padding-left: 5%;
    padding-right: 7%;
  }

  .toolbar_navigation_items {
    text-decoration: none;
  }

  .toolbar_navigation_items li {
    padding: 0 1.5rem;
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    color: black;
    cursor: pointer;
  }

  .toolbar_navigation_items li:hover,
  .toolbar_navigation_items li:active {
    color: #4183c4;
  }

  .toolbar_right {
    display: flex;
  }

  .spacer {
    flex: 0.5;
  }

  @media screen and (max-width: 400px) {
    display: none;
  }

  @media screen and (max-width: 401px) {
    .toolbar {
      display: none;
    }
  }
}

.mobile_toolbar {
  width: 100%;

  .mobile_toolbar_navigation_items {
    display: flex;
  }

  .mobile_toolbar_navigation {
    display: flex;
  }

  .mobile_toolbar_right {
    display: flex;
  }

  .left-button {
    width: 50%;
    left: 0;
  }

  .right-button {
    width: 50%;
    right: 0;
  }

  @media screen and (min-width: 1243px) {
    .mobile_toolbar {
      display: none;
    }
  }
}

img {
  cursor: pointer;
}

.Footer {
  background-color: white;
  height: 100%;

  @media screen and (max-width: 400px) {
    .footer-item-1,
    .footer-item-2,
    .footer-item-3 {
      padding-left: 5%;
      width: 50px;
      padding-right: 5%;
    }
  }

  @media screen and (min-width: 401px) {
    .col-1 {
      padding-left: 5%;
    }

    .col-2 {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .row {
    display: flex;
  }

  .center-align {
    margin-left: 40%;
  }
}

@media screen and (max-width: 400px) {
  .Promo {
    font-family: "Montserrat", sans-serif;
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 401px) {
  .Promo {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
  }
}

.SizeTabWithoutLabel {
  .button-group-items {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 1rem;
  }

  .button-group-item-clicked {
    background-color: black;
    color: white;
  }

  .button-group-item:hover,
  .button-group-item:active {
    background-color: black;
    color: white;
  }
}
