@import "~bootstrap/scss/bootstrap";

@mixin btn {
  vertical-align: middle;
  padding-bottom: 1rem;
  color: white;
  font-size: 1.2rem;
  background-color: black;
  width: 260px;
  margin-left: 10px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  align-self: center;
  text-align: center;
}

@mixin center {
  width: 90%;
  align-self: center;
}

.align-center {
  text-align: center;
  align-self: center;
}

/** Cart  **/
.product-outer-container {
  display: flex;
}

.product-name {
  text-align: center;
  text-transform: uppercase;
}

.close-btn {
  align-self: center;
  width: 100%;
  color: white;
  background-color: black;
  font-size: 1rem;
  font-family: "Montserrat, sans-serif";
}

.Homepage {
  @media screen and (min-width: 416px) {
    .hp-new-release {
      margin-top: 20rem;
    }
  }

  @media screen and (max-width: 415px) {
    .hp-new-release {
      margin-top: 3rem;
    }
  }

  .hp-new-release {
    width: 100%;

    .hp-list {
      margin-left: 4%;
      margin-right: 4%;
      width: 92%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-gap: 0.5rem;
    }
  }

  .hp-promotion-image {
    position: relative;
  }

  @media screen and (min-width: 415px) {
    .hp-promotion-image {
      max-height: 500px;
    }

    .centered-title {
      position: absolute;
      top: 40%;
      left: 7.5rem;
      color: white;
      font-size: 40px;
      margin-left: 4%;
      margin-right: 4%;
    }

    .centered-text {
      position: absolute;
      top: 50%;
      left: 10rem;
      color: white;
      font-size: 20px;
      margin-left: 20px;
    }

    .sub-image {
      width: 100%;
      display: block;
    }

    .mobile-sub-image {
      display: none;
    }

    .womens {
      margin-left: 60px;
      margin-top: 120px;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
    }
    .new-release {
      margin-left: 60px;
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
    }
    .view-all-link {
      cursor: pointer;
      padding-right: 10%;
      text-align: right;
      color: black;
      text-decoration: underline;
      font-size: 20px;
      align-self: flex-end;
    }
  }

  @media screen and (max-width: 415px) {
    .product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
      grid-gap: 0.5rem;
    }

    .sub-image {
      display: none;
    }
    .mobile-sub-image {
      width: 100%;
      display: block;
    }
    .centered-title {
      position: absolute;
      top: 42%;
      left: 10%;
      color: white;
      font-size: 20px;
    }
    .centered-text {
      position: absolute;
      top: 50%;
      left: 10%;
      color: white;
      font-size: 12px;
    }
    .view-all-btn {
      position: absolute;
      top: 70%;
      left: 5%;
      color: white;
      font-size: 16px;
      background-color: black;
      width: 120px;
      border-radius: 25px;
      font-family: "Montserrat", sans-serif;
    }
    .womens {
      margin-left: 20px;
      margin-top: 40px;
      font-size: 10px;
      font-family: "Montserrat", sans-serif;
    }
    .new-release {
      margin-left: 20px;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
    }
    .view-all-link {
      text-align: right;
      color: black;
      text-decoration: underline;
      font-size: 10px;
      margin-right: 100px;
      align-self: buttom;
      font-family: "Montserrat", sans-serif;
    }
  }
}
/** Home page ends here**/

.OrderConfirmation {
  background-color: white;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;

  .container {
    align-self: center;
    width: 100%;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
  }

  .col-right {
    margin-left: 1rem;
    width: 50%;
  }

  .col-left {
    width: 50%;
  }

  label {
    font-size: 1rem;
  }

  .item {
    height: 3rem;
    align-self: flex-start;
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    align-self: center;
  }

  .blank {
  }
}

.product-detail-page {
  background-color: white;
  .main-image {
    width: 100%;
  }

  .review {
    margin-bottom: 2rem;
  }

  .description {
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
  }

  .product-name {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .non-sales-price {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #444444;
  }

  .sales-price {
    text-align: center;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }

  .color-btn {
    margin-right: 30%;
    color: transparent;
    width: 100%;
    height: 2rem;
  }

  .form {
    width: 60%;
  }

  .reveiw-tab {
    display: flex;
  }

  .review-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
  }

  .review-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .create-review-link {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5%;
  }

  .colors {
    text-transform: uppercase;
  }

  .select-size {
    text-align: center;
    font-size: 0.8rem;
    color: #444444;
  }

  .blank {
    width: 5%;
  }

  .size-tab {
    width: 100%;
  }

  @media (max-width: 415px) {
    .main {
      grid-template-columns: 1fr;
      width: 100%;
    }

    .sub-img-container {
      width: 15rem;
      grid-row: 2;
    }

    .sub-image-1 {
      width: 70%;
      margin-left: 15%;
      grid-column: 1/2;
      grid-row: 2;
    }

    .sub-image-2 {
      width: 70%;
      margin-left: 15%;
      grid-column: 3/4;
      grid-row: 2;
    }

    .main-img-container {
      grid-row: 1;
      margin-top: 1rem;
    }
  }

  @media (min-width: 416px) {
    .main {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr, 1fr;
      grid-gap: 1rem;
      grid-auto-columns: minmax(100px, auto);
      justify-items: stretch;
      align-items: stretch;
    }

    .sub-image-1 {
      width: 100%;
      margin-left: 15%;
    }

    .sub-image-2 {
      width: 100%;
      margin-top: 2.5rem;
      margin-left: 15%;
    }
  }
}

.AllProducts {
  background-color: white;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  display: grid;

  .sorting {
    margin-left: 12%;
    width: 100px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
  }

  @media (max-width: 415x) {
    .sort-select {
      grid-column-start: 5;
      grid-row: 1;
      max-width: 200px;
    }

    .list-container {
      width: 100%;
      grid-column-start: 6;

      .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        grid-gap: 0.5rem;
      }
    }

    .filters {
      display: none;
    }
  }

  @media (min-width: 416px) {
    .list-container {
      grid-column-start: 5;
      grid-row: 2;

      .product-list {
        display: grid;
        padding-top: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 0.5rem;
      }
    }

    .filters {
      grid-column: 1;
      grid-row: 2;
      width: 20%;
    }

    .sort-desktop {
      display: block;
    }
  }
}

.col {
  display: grid;
  width: 100%;
}

.row {
  margin-top: 1rem;
  width: 100%;
}

.ProductContainer {
  width: 100%;
  border-radius: 1%;
  z-index: 100;
  box-shadow: 0.5rem;
  max-height: 440px;
  max-width: 320px;

  .item-name {
    font-size: 1rem;
    color: #444444;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 2.1rem;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  .price-label {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
  }

  .sales {
    color: red;
  }

  .price {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
  }

  .new-price {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0;
  }

  .item-color {
    color: lightslategray;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0;
  }

  .card-image {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 350px;
    align-self: center;
  }

  .sales-price {
    color: red;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
  }

  @media (max-width: 415px) {
    padding: 0;

    .item-color {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      color: #4444;
    }

    .item-price {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.FilterTab {
  width: 100%;
  margin-top: 0.8rem;

  .filter-label {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .orange-btn {
    background-color: #ff9900;
  }

  .pink-btn {
    background-color: #ff99cc;
  }

  .lt-grey-btn {
    background-color: #c0c0c0;
  }

  .dk-grey-btn {
    background-color: #808080;
  }

  .blue-btn {
    background-color: #3399ff;
  }

  .tab-btn {
    margin-right: 0.6rem;
    color: transparent;
    width: 3rem;
    height: 3.5rem;
  }
}

.SizeTabWithoutLabel {
  width: 100%;

  .button-group-item {
    top: 50%;
    color: white;
    font-size: 1rem;
    width: 4rem;
  }

  .button-group-item,
  .disabledTab {
    width: 3rem;
    height: 3.5rem;
    float: center;
    color: black;
    margin-right: 0.6rem;
  }

  .button-group-item-clicked,
  .button-group-item:hover,
  .button-group-item:active {
    background-color: black;
    color: white;
    width: 4rem;
  }

  .disabledTab,
  .disabledTab:hover,
  .disabledTab:active {
    width: 3rem;
    height: 3.5rem;
    color: black;
    background-color: white;
  }
}

/** Review Form **/

.modal {
  background-color: white;
  padding-top: 80px;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;

  .form {
    display: grid;
    background-color: white;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    width: autp;
    overflow: scroll;
    height: 100%;

    .err-msg {
      color: blue;
    }

    .input {
      width: 100%;
    }

    p {
      text-align: center;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 0.75rem;
    }

    .star {
      width: 20%;
      margin-left: 40%;
      margin-right: 40%;
      padding-top: 0;
    }

    .bar-rating {
      width: 20%;
      margin-left: 40%;
      margin-right: 40%;
      padding-top: 0;
    }
  }
}

img {
  cursor: pointer;
}

.Footer {
  background-color: white;
  height: 100%;

  .sns-icon-group {
    text-align: center;
    align-items: center;

    .sns-icon {
      margin-right: 1.25rem;
    }
  }
}

.Promo {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 1rem;

  @media screen and (max-width: 415px) {
    font-size: 0.625rem;
  }

  @media screen and (min-width: 416px) {
    font-size: 1rem;
  }
}

@media screen and (min-width: 416px) {
  .nav-bar {
    color:black;
    width: 100%;
    font-size: 1.2rem;

    form {
      font-size: 1.2rem;
    }

    .mobile-menu {
      display: none;
    }

    .ml-auto {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 415px) {
  .App {
    width: 100%;
    background-color: white;

    .nav-bar {
      width: 100%;
      font-size: 1.2rem;

      .logo {
        text-align: center;
      }

      form {
        font-size: 1.2rem;
      }

      .mobile-menu {
        display: block;
        align-self: left;
        z-index: 1;
      }

      .nav-bar-links,
      .desktop {
        display: none;
      }
    }
  }

  .cart-icon {
    display: flex;
    cursor: pointer;
    margin-right: 0;
  }

  .line {
    display: flex;
  }

  .cart-page {
    .close-btn,
    .check-out-btn {
      background-color: black;
      color: white;
    }
  }
}

.carousel {
  height: 100px;
}

#cart-btn {
  @include btn;
}

#switchCurrencyBtn {
  @include btn;
  font-size: 1rem;
  margin-right: 1rem;
  height: 2.5rem;
  width: 11rem;
}

#checkout-btn {
  @include btn;
  align-self: center;
  background-color: #007db5;
}

#paypal-btn {
  @include btn;
  height: 4rem;
}

.product-in-cart {
  padding-block-start: 3px;
}

#add-to-cart-btn {
  padding-top: 10;
  height: 4rem;
  margin-top: 10;
  border-radius: 25px;
  color: white;
  background-color: #007db5;
}

.cart-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

.close-cart-icon {
  cursor: pointer;
}

#cart {
  padding: 0.5rem;
}

.MuiDialog-root {
  width: 40rem;
  height: 20rem;
}

.currency-select {
  @include center;
  margin-bottom: 1rem;
}

#currency-dialog-title {
  align-self: center;
}

.email-field {
  width: 100%;
}

#clear-filter-btn {
  margin-top: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
}
